body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 860px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Выравнивание контейнера по центру */
  padding: 10px;
  box-sizing: border-box; /* Учитываем padding и border в общей ширине контейнера */
}

header,
section,
main,
footer {
  margin-bottom: 30px; /* Расстояние между секциями */
  background-color: #5b5b5b; /* Цвет фона для наглядности */
}

.startMenu {
  width: 523px;
  height: 617px;
  flex-shrink: 0;
  border-radius: 0px 0px 50px 50px;
  background: #f3f3f3;
	& startMenu {
		width: 523px;
		height: 617px;
		flex-shrink: 0;
		border-radius: 0px 0px 50px 50px;
		background: #f3f3f3;
	}
}
